.projects {
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  height: auto;

  background: linear-gradient(transparent, rgba(0, 0, 0, 1));
  background-color: rgb(91, 87, 115);
}

.projects__container > input {
  width: 300px;
}

.aspect {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
}

.aspect__inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Add more aspect ratios here */
.aspect--16x9 {
  padding-bottom: 56.25%;
}
.projects__buttons {
  text-align: center;
  justify-content: center;
}
