.contact {
  background-color: black;
  height: 50vh;
  color: white;
  display: flex;
  flex-direction: column;
}

.contact__title {
  text-align: center;
  margin: 100px;
}

.contact__socialIcons {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact__socialButton {
  margin: 20px;
  transition: 0.2s;
  margin: 30px !important;
  padding: 10px !important;
}

.contact__socialButton:hover {
  color: black;
  transform: scale(1.2);
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .contact__title {
    text-align: center;
    margin: 50px;
  }
  .contact__socialIcons {
    width: 450px;
  }

  .contact__socialButton:hover {
    transform: none;
  }
}
